@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Quicksand:wght@300;400&family=Shadows+Into+Light&display=swap');
*{font-family: 'Fredoka', sans-serif;
    font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;}


html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;}

body {  
     overflow-x: hidden;
      background-image: url(../image/bg-pattern-bottom.svg);
      background-position-y: initial;
      background-position-y: initial;
      background-size: 2000px;
      background-repeat: no-repeat;
           }

.container { 
    padding: 0% 3% 5% 10% !important;}


h1   { 
    background: -webkit-linear-gradient(#315cc6, #4c2812);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px !important;
    font-weight: 700 !important;}



.nav-item {
        display: list-item;
        color: black;
        display: flex;
        padding-left: 19%;}
    
    
.nav-item>a {
        font-weight: 600;
        text-decoration: none;
        color: black;}

.wrapper   {
    background-color: white;
    width: 88% !important;
    max-width: 90%;
    padding: 0px 12px !important;
    height: 75% !important;
    border-radius: 15px;
    position: relative;
    transform: translateY(83px);
   }

.hero {
    text-align: center;
    height: 176px;
    background-image: url(../image/Pattern.png);
    background-color: #2155CD;
    border-radius: 15px 15px 0px 0px;}


.hero>a {
    color: #fff;
    font-size: 29px;;}


 .hero>p {
    margin-top: 0;
     color: white;
     margin-bottom: 0rem;
      font-size: 25px;
      font-weight: 700;}
    
.hero>p::after {
    content: "";
    display: block;
    margin: 0 auto;
     width: 20%;
    padding-top: 0px;
    border-bottom: 4px solid #fff;
    border-radius: 30px;
                       } 

                       
 #avatar {
     height: 90px;
     border-radius: 50%;
     border: solid white;
     transform: translatey(29px);
                                }


.hero1 {
text-align: center;
margin-top: 15% !important;}

.p1 {
    font-size: 20px;
    font-weight: 900;
}

#email {
    font-size: 20px;
    font-weight: 400;
 }

.button {
    background-color: #2155CD !important;
    border-radius: 15px !important;
}

.button>a {
    color: #fff !important;
    padding: 10% 0%;
    text-decoration: none;
}

.icons {
    text-align: center;
    display: flex!important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.icons>a { font-size: 38px;}

br {display: none;}
