
    @media only  screen and (min-width: 800px){
    
   .navbar {
    padding: 10em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
   }     

   
.work {
    display: block;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 11%;
 }

.work::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    height: 11%;
}

.work::after {
    bottom: 0;
    background: linear-gradient(to right, rgb(106, 57, 206), rgb(163, 65, 48));
    border-radius: 30px;
}

    
    .index {
        display: none;}

    .nav-item {
        display: flex !important;
        color: black;
        display: flex;
        padding-left: 19%;
    }


.nav-item>a {
    font-weight: 600;
    text-decoration: none;
    color: black;}

 .desk {
        display: none;
    }
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

:is(.grid, .grid1, .grid2 ){
    height: 21em;
    max-width: 34% !important;
    border-radius: 42px;
   text-align: center;
   margin: 4em;
}

.desk-img {
    position: inherit;
    width: 64%;
    margin-top: 6em;
    opacity: 1;
}

    }  

